#Ignore build folder
build/**

#Ignore Emacs buffer and autosave files
*~
[#]*[#]
*/#*

#Ignore any generate .exe files
*.exe

#Ignore vscode
*/.vscode

#Ignore any not a c or cpp file in /src
src/*
!src/*.c
!src/*.cpp
!src/*.h